h1, h2 {
  font-family: Lato;
}

.circle{
  transition: background-color 0.4s;
}
.progres-bar{
  width: 0%;
  background-color: lime;
  transition: width 0.3s
}

.progres-bar-done{
  width: 100%;
}

.done{
  background-color: green;
}

.disabled{
  background-color: gray;
  border: none;
  cursor: not-allowed;
  color: white;
}
.disabled:hover{
  background-color: gray;
  border: none;
}